
.cardio-container {
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
  background: #0a0a0a;
  padding-bottom: 60px;
}

.cardio-hero {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.cardio-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.cardio-hero-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: #fff;
  text-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.cardio-hero-text h1 {
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: #e60000;
}

.cardio-hero-text p {
  font-size: 1.5rem;
  font-weight: 300;
}

/* ---------------------- */
/*   Sections générales   */
/* ---------------------- */
.cardio-section {
    margin-top: 40px;
  padding: 60px;
  
}
.cardio-section p {
  font-family: 'Montserrat', sans-serif;

}
.cardio-section h2 {
  color: #e60000;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  font-size: 2rem;
}

.cardio-section p,
.cardio-section ol,
.cardio-section ul {
  font-size: 1.1rem;
  line-height: 1.8;
  
    font-family: 'Montserrat', sans-serif;
}

.highlight {
background: rgb(18, 18, 18);
 

  padding: 20px;
}

.p1cardio {
  font-size: 1.3rem;
}

.p2cardio {
  display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.1rem;
    margin-top: 20px;
}

/* ---------------------- */
/*   Vidéo                */
/* ---------------------- */
.video iframe {
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}


.cta {
  text-align: center;
  margin-top: 40px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cardcardio {
  position: relative;
  background-color: #282a2a;
  border-radius: 10px;
  padding: 28px 22px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 0;
}

.cardcardio::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background-image: linear-gradient(25deg, #09909a, #0ac7d8, #023035, #054044);
  height: 52px;
  width: 65px;
  border-radius: 32px;
  transform: scale(1);
  transition: transform 0.5s ease-out;
}

.cardcardio:hover::before {
  transform: scale(21);
}

.cardcardio h3 {
  margin: 12px 0 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0ac7d8;
}

.cardcardio p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #ffffff;
}

.cardcardio:hover p,
.cardcardio:hover h3 {
  color: #000000;
}

.icon-card {
  font-size: 2.2rem;
  color: #0ac7d8;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
  margin-bottom: 10px;
}

.cardcardio:hover .icon-card {
  color: #fff;
  transform: scale(1.2) rotate(5deg);
}
